.container {
  width: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
  text-align: center;
  justify-content: center;
  width:200px;
  height:40px;
  background-color: #654ecc;
  margin: auto;
  border-radius: 5%;
}
.btn:hover{
  background-color:#8a76dfc0 ;
  width:210px;
  height: 45px;
  box-shadow: #4e8fcce8;
}
